alias sshnas="ssh martin@192.168.2.2"

alias ip="ipconfig getsummary en0 | grep -o 'yiaddr = .*' | sed 's/^yiaddr = //'"

alias vup="wg-quick up wg_config"
alias vdown="wg-quick down wg_config"

# security add-generic-password -w <password> -a "vpn-robinson.plusline.de" -s "mschneider"
function cisco_connect() {
  local VPN_HOST="vpn-robinson.plusline.de"
  local VPN_USER="mschneider"
  local VPN_PASSWORD=""

  if [[ "$OSTYPE" == "darwin"* ]]; then
    # macOS: Use the keyring
    VPN_PASSWORD=$(/usr/bin/security find-generic-password -w -a "$VPN_HOST" -s "$VPN_USER")
  elif [[ -f /etc/arch-release ]] || [[ "$OSTYPE" == "linux-gnu"* ]]; then
    # Arch Linux: Use pass
    VPN_PASSWORD=$(pass vpn/mschneider | head -n 1 | xargs)
  fi

  if [[ -z "$VPN_PASSWORD" ]]; then
    echo "Fehler: Passwort konnte nicht abgerufen werden."
    return 1
  fi

  printf "connect \"${VPN_HOST}\"\n\n${VPN_USER}\n${VPN_PASSWORD}\n" | /opt/cisco/secureclient/bin/vpn -s
}
alias cup="cisco_connect"
alias cdown='/opt/cisco/secureclient/bin/vpn disconnect'
alias cstatus='/opt/cisco/secureclient/bin/vpn state'

# Git:
alias gbranches="git branch --list -a"
alias glog="git log --decorate --graph --pretty=format:\"%C(cyan)%h%Creset %ad by %Cblue%an%Creset %Cred%s%Creset %Cgreen%d%Creset\" --abbrev-commit --date=relative"
alias gst="git status --short --branch"
alias gprune="git fetch -p && git branch -vv | grep gone | cut -d' ' -f 3 | grep . | xargs git branch -D"
alias gclean="gprune"
gch() {
  if [[ "$1" =~ ^[0-9]+$ ]]; then
    git checkout @{-"$1"}
  else
    echo "❌ Please enter a positive Number, i.e.: gch 2"
  fi
}

# Databases
alias createdb="createdb -h 127.0.0.1 -U postgres"
alias dropdb="dropdb -h 127.0.0.1 -U postgres"
alias psql="psql -h 127.0.0.1 -U postgres"
alias mysql='mysql -h 127.0.0.1 -u root -p'
alias createmysqldb='function _createMySqlDB() { echo "create database $1" | mysql -h 127.0.0.1 -u root -p; }; _createMySqlDB'

unameOut="$(uname -s)"
case "${unameOut}" in
    Linux*)     machine=Linux;;
    Darwin*)    machine=Mac;;
    CYGWIN*)    machine=Cygwin;;
    MINGW*)     machine=MinGw;;
    *)          machine="UNKNOWN:${unameOut}"
esac

function gencert() {
  if [ -z "$1" ]; then
    echo "Bitte einen Namen angeben (z.B. gencert meinprojekt)"
    return 1
  fi

  local NAME="$1"
  local TARGET_DIR="$HOME/Library/Application Support/mkcert"

  mkcert -key-file "$TARGET_DIR/${NAME}-key.pem" \
         -cert-file "$TARGET_DIR/${NAME}-cert.pem" \
         "${NAME}.home"
}
